{% extends 'base.html'%}

{% block title%}
Trek Details
{%endblock%}

{%block navbar%}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Dashboard</a>
        </li>
    </ul>
</div>
{%endblock%}
{%block content%}
<div class="d-flex align-items-center mb-4">
    <h2>{{trek.name}}</h2>
    
</div>

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{trek.name}}</h5>
    <p>{{trek.status}}</p>
  </div>
  <div class="card-header bg-success text-white fw-semibold">
    Trek Details
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Location : {{trek.location}}</li>
    <li class="list-group-item">Difficulty: {{trek.difficulty}}</li>
    <li class="list-group-item">Duration: {{trek.duration}}</li>
    <li class="list-group-item">Start Date: {{trek.start_date.strftime('%d %b %Y')}}</li>
    <li class="list-group-item">End Date:{{trek.end_date.strftime('%d %b %Y')}}</li>
    <li class="list-group-item">Total slots:{{trek.total_slots}}</li>
    <li class="list-group-item">Available: {{trek.available_slots}}</li>
    <li class="list-group-item">Booked: {{active_bookings |length}}</li>
    <li class="list-group-item">Price:{{trek.price}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Update Trek
  </div>
  <div class="card-body">
    <form method="POST" action="{{url_for('staff_update_trek',trek_id=trek.id)}}">

    </form>
    
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{%endblock%}