{% extends 'base.html'%}
{%block title%}
Participants Details
{%endblock%}


{% block navbar%}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('staff_dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <span class="navbar-text">
                    {{session.get('name')}} <span >({{session.get('role')|capitalize}})</span>
                </span>
            </li>
    </ul>
</div>
{%endblock%}

{%block content%}
<div class="d-flex justify-content-start mt-1">
    <a href="{{url_for('staff_dashboard')}}" class="btn btn-outline-success">
        Back
    </a>


</div>

<h2 class="mb-3 mt-3">Details of {{trek.name}}</h2>
<div class="d-flex gap-3 mb-2 ">
    <span>Booked Count: {{booked_count}}</span>
    <span>Cancelled Count: {{cancelled_count}}</span>
    <span>Completed Count: {{completed_count}}</span>
</div>

<table class="table table-hover align-middle mb-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Status</th>
      <th scope="col">Payment</th>
    </tr>
  </thead>
  <tbody>
    {% for b in active_bookings%}
    <tr>
        <td>{{b.id}}</td>
        <td>{{b.user.name}}</td>
        <td>{{b.user.username}}</td>
        <td>{{b.user.email}}</td>
        <td>{{b.booking_date.strftime('%d %b %Y')}}</td>
        <td>{{b.status}}</td>
        <td>
            <form method="POST" action="{{url_for('update_payment_status',booking_id=b.id)}}">
                <select name="payment_status" class="form-select" style="width:100px;">
                    {%for p in ['Pending','Paid','Refunded']%}
                    <option value="{{p}}" {%if b.payment_status==p %}selected {%endif%}>{{p}}</option>
                    {%endfor%}
                </select>
                <button type="submit" class="btn btn-success">Set</button>
            </form>
        </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% if not active_bookings%}
    <div class="text-center mt-5">
        <p>No one registered for this trek.</p>
    </div>
{%endif%}
{%endblock%}