{% extends 'base.html'%}
{% block title%}
Add Trek
{%endblock%}

{% block navbar%}
    <div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_manage_trek')}}">Treks</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('manage_staff')}}">Staff</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_bookings')}}">Bookings</a>
            </li>
        </ul>
        </div>
  </div>
</div>
{%endblock%}


{%block content%}
<div >
    <h2 class="title">Add New Trek</h2>
    <div>
      <form method="POST" action="{{url_for('admin_edit_trek',trek_id=trek.id) if trek else url_for('admin_add_trek')}}">
        <div class="col-md-6">
            <label for ='name' class="form-label">Trek Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{trek.name if trek else ''}}" required>
        </div>
        <div class="col-md-4">
            <label for ='price' class="form-label">Price:</label>
            <input type="number" class="form-control" id="price" name="price" value="{{trek.price if trek else ''}}" required>
        </div>
        <div class="col-md-6">
            <label for ='location' class="form-label">Location:</label>
            <input type="text" class="form-control" id="location" name="location" value="{{trek.location if trek else ''}}" required>
        </div>
        <div class="col-md-3 mt-4">
            <label for="difficulty" class="form-label">Level:</label>
            <div class="form-floating" >
                <select class="form-select" name="difficulty" id="floatingSelect" aria-label="Floating label select example" required>
                    <option selected>Choose difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Hard">Hard</option>
                </select>  
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <label for="duration" class="form-label">Duration:</label>
            <input type="number" class="form-control" id="duration" name="duration" value="{{trek.duration if trek else '' }}" required >
        </div>
        <div class="col-md-3 mt-2">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{trek.start_date.strftime('%Y-%m-%d') if trek else ''}}" required>
        </div>
        <div class="col-md-3 mt-2">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{trek.end_date.strftime('%Y-%m-%d') if trek else ''}}" required>
        </div>  
        <div class="col-md-3 mt-2">
            <label for="total_slots" class="form-label ">Total Slots:</label>
            <input type="number" class="form-control" id="total_slots" name="total_slots" value="{{trek.total_slots if trek else ''}}" required>
        </div>
        <div class="col-md-6 mt-2">
            <label for="assigned_staff_id" class="form-label">Assign staff:</label>
            <select class="form-select" id="assigned_staff_id" name="assigned_staff_id"  required>Unassigned
                <option value="" {%if not trek%} selected{%endif%} disabled>Unassigned</option>
                {%for i in myusers%}
                <option value="{{i.id}}"
                    {%if trek and trek.assigned_staff_id==i.id%}selected{% endif %}>
                    {{i.name}}

                </option>
                {%endfor%}
            </select>
        </div>
        <div class="col-10 mt-3 mb-5">
            <label for="description" class="form-label" >Description:</label>
            <input type="text" class="form-control" name="description" value="{{trek.description if trek else ''}}"> 
        </div>
        <button class="btn btn-success" type="submit">Add Trek</button>
        
      </form>   
    </div>
</div>
{%endblock%}
{% block style%}
<style>
    .title{
        color:green;
        margin-top: 8px;
    } 
    
</style>

{%endblock%}