{% extends 'base.html'%}
{% block title%}
All bookings
{%endblock%}

{% block navbar%}
    <div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_manage_trek')}}">Treks</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('manage_staff')}}">Staff</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('search_users')}}">Users</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('admin_bookings')}}">Bookings</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
  </div>
</div>
{%endblock%}
{%block content%}
<h2>All Bookings</h2>
<div>

</div>
{%endblock%}

