{% extends 'base.html' %}
{%block title%} Add Staff {%endblock%}
{%block navbar%}
    <div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_manage_trek')}}">Treks</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('manage_staff')}}">Staff</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('search_users')}}">Users</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{('admin_bookings')}}">Bookings</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
        </ul>
        
  </div>
</div>
{%endblock%}
{% block content%}
<h2>Add New Staff </h2>
<div class="card-body p-4">
    <form method="POST">
        <div class="col-5">
            <label for="name" class="form-label" >Full Name:</label>
            <input type="text" name="name" class="form-control" id="name" required>
        </div>
        <div class="col-5 mt-2">
            <label for="username" class="form-label" >Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="col-5 mt-2">
            <label for="email" class="form-label" >Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-5">
            <label for="password" class="form-label" >Password:</label>
            <input type="password" class="form-control" id="password" name="password" required >
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-3">
                Add Staff Member
            </button>
        </div>
    </form>

</div>
{%endblock%}