{%extends 'base.html'%}

{% block title%}
Home
{%endblock%}

{% block navbar%}
<div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><b>TrekMate</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('index')}}">Dashboard</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register_staff')}}">Staff Registeration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">User Registeration</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
<h2 class="mt-4 text-center">Welcome to TrekMate</h2>
<div class="text-center mt-3">
    <img src="{{ url_for('static', filename='images/trekmate.png') }}" alt="TrekMate" width="600" >
</div>

<div class="mt-4 text-center">
  <h3>Find, discover and manage your next trek with TrekMate...</h3>
    
</div> 
<div class="mt-4 mb-3 text-center">
    <span><a type="submit" href="{{url_for('login')}}" class="md-2 btn btn-success">Login</a></span>
    
    
</div>

{%endblock%}