{% extends 'base.html'%}
{% block title %}
Staff Registeration
{%endblock%}

{% block content%}
<div class="d-flex justify-content-center mt-5">
    <div class="card p-4" style="width: 28rem;">
        <h2>Staff Registeration</h2>
        <form method="POST" action="{{url_for('register_staff_post')}}">
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input class="form-control" type="text" name="name" required >

            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input class="form-control" type="text" name="username" required >

            </div><div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" name="email" required >

            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password" minlength="6" required >

            </div>
            <button type="submit" class="btn btn-success">Register</button>
            <p class="mt-3 text-center">
                <a href="{{url_for('login')}}">Click here to login</a>
            </p>
        </form>

    </div>


</div>
{%endblock%}