{% extends 'base.html' %}

{%block title%}
TrekMate- user profile
{%endblock%}

{% block navbar%}
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}"><b>TrekMate</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user_dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_new_trek')}}">Trek</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('user_profile')}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <span class="navbar-text">
                    {{session.get('name')}} <span >({{session.get('role')|capitalize}})</span>
                </span>
            </li>
    </ul>
</div> 

{%endblock%}

{%block content%}
<h2>Profile:</h2>
<div class="d-flex justify-content-center">
    <div class="card">
      <h3 class="card-header">Username: {{user.name}}</h3>
      
      
      <div class="card-body">
        <h5 class="card-title">

          <h5>Name: {{user.username}}</h5>
          <h5>Role: {{user.role}}</h5>
          <p>Email: {{user.email}}</p>
          {% if user.is_blacklisted%}
            <p>Status: Blacklisted</p>
          {%else%}
            <p>Status: Active</p>
          {%endif%}
        </h5>
      </div>
  </div>

</div>

<div class="mt-5">
  <h2>Trekking History</h2>
  <div class="card">
    <div class="card-header">
      Trek status count
    </div>
    <div class="card-body">
      <p>Booked Trek Count: {{booked_count}}</p>
      <p>Completed Trek Count: {{completed_count}}</p>
      <p>Cancelled Trek Count: {{cancelled_count}}</p>
      
    </div>
  </div>

</div>

<div class="mt-4 mb-4" >
  <h2>Edit user details</h2>
  <div class="card-body">
    <form method="POST">
      <div>
        <label class="form-label"   for="name">Full Name</label>
        <input class="form-control" name="name" id="name" type="text" value="{{user.name}}" required>
      </div>
      <div>
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" name="email" id="email" value="{{user.email}}" required>
      </div>
      <div>
        <label class="form-label" for="new_password">new Password</label>
        <input class="form-control" for="new_password" id="new_password" name="new_password" >
        <p>Enter password of minimum 6 characters</p>
      </div>
      <div>
        <button type="submit" class="btn btn-success">Edit</button>
      </div>
    </form>
  </div>
  

{%endblock%}