{% extends 'base.html' %}

{%block title%}
TrekMate- user profile
{%endblock%}

{% block navbar%}
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TrekMate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>

{%endblock%}

{%block content%}
<h2>Profile:</h2>
<div class="d-flex justify-content-center">
    <div class="card">
      <h3 class="card-header">Username: {{User.name}}</h3>
      
      
      <div class="card-body">
        <h5 class="card-title">

          <h5>Name: {{User.username}}</h5>
          <h5>Role: {{User.role}}</h5>
          <p>Email: {{User.email}}</p>
          {% if user.is_blacklisted%}
          <p>Blacklisted</p>
          {%else%}
          <p>Active</p>
          {%endif%}
        </h5>
      </div>
  </div>

</div>

<div class="mt-5">
  <h2>Trekking History</h2>


</div>
  

{%endblock%}