{% extends 'base.html' %}

{%block title%}
TrekMate- user profile
{%endblock%}

{% block navbar%}
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TrekMate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>

{%endblock%}

{%block content%}
<h2>Profile:</h2>
  <div>
    <form action="" >

    </form>
  </div>

{%endblock%}